@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Gobal variables */

:root {
    --primaryFont: "Montserrat", sans-serif;
    --primaryBg  : #354f52;
}
:root::-webkit-scrollbar{
    display: none;
}


html,
body {
    height: 100%;
}


/* Navbar */
nav.navbar{
    height: 80px;
    background: linear-gradient(90deg, rgb(22, 36, 46, 1) 55%,rgba(70,148,72,1) 100%);
    opacity: 0;
}


nav div.collapse{
    text-align: center;
    justify-content: center;
}

nav div.collapse ul{
    gap: 25px;
}

nav div.collapse li a.nav-link{
    font-family: var(--primaryFont);
    color: aliceblue;
    cursor: pointer;
}


/* Section landing page */

section.landing-page {
    background: linear-gradient(90deg, rgb(22, 36, 46, 1) 55%,rgba(70,148,72,1) 100%);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    text-align: center; 
    align-items: center;
    height: 100%;
    padding: 100px 150px;
    gap: 50px;
}

section.landing-page div.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section.landing-page div.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

section.landing-page img {
    height: 370px;
    border-radius: 35px;
    margin: 0px 90px;
}

section.landing-page p.name-title {
    font-family: var(--primaryFont);
    font-weight: 500;
    font-size: 30px;
    color: aliceblue;
}

section.landing-page p.career-title {
    font-family: var(--primaryFont);
    font-weight: 800;
    font-size: 40px;
    color: aliceblue;
}

section.landing-page div.container-fluid p.description {
    font-family: var(--primaryFont);
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
}

section.landing-page span {
    background: #CD533B;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    align-content: center;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    top: 90%;
    left: 50%;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(205, 83, 59, 0.5);
    animation: pulse 1.5s infinite;
}


section.landing-page span:hover{
    animation: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgba(205, 83, 59, 0.5);
    }
    100% {        
        box-shadow: 0px 0px 0px 30px rgba(205, 83, 59, 0);
    }
}
/* Section about me */

section.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 100px 150px;
    gap: 30px
}

section.about-me div.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px
}

section.about-me div.info div.container p.description{
    text-align: justify;
}

section.about-me div.info img{
    height: 350px;
    border-radius: 30px;
    margin: 0px 100px
}


/* Section projects */

section.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 100px 150px;
    gap: 30px;
}

section.projects div.info div.container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

/*  Section achievements */

section.achievements{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 100px 150px;
}