@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html,
body {
    height: 100%;
    background-color: #354f52;
}


/* Navbar */

.nav-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
}